<a href="https://colab.research.google.com/github/PepiMartin28/ETL-Project/blob/main/Load.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#In this notebook we are loading the data from the csv file to the database, to have the data stored and then we can use in many different activities.

In [1]:
# pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.0-py3-none-any.whl (44 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.8/44.8 kB 928.4 kB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.0

In [2]:
import pandas as pd
import pymysql

In [3]:
def Create_Connection():
  connection = pymysql.connect(
    host='us-cdbr-east-06.cleardb.net',
    user='b59176a577f953',
    password='1ecab0e5',
    database='heroku_0112fbf8f733ea4',
    charset='utf8mb4',
    cursorclass=pymysql.cursors.DictCursor
  )

  cursor = connection.cursor()

  return cursor, connection

In [9]:
df = pd.read_csv('/content/drive/MyDrive/Proyectos/ETL/data_transformed.csv')

In [ ]:
df.head()

,league_id,league_name,season,id,name,matches_played,wins,draws,losses,season_points,...,shots_on_target,shots_on_target/90,goals_against,goals_against/90,shots_against,shots_against/90,goal_diff,clean_sheets,yellow_cards,red_cards
0,9,Premier League,2000-2001,0,Manchester Utd,38,24,8,6,80,...,251,6.6,31,0.8,140,3.7,48,17,44,3
1,9,Premier League,2000-2001,1,Arsenal,38,20,10,8,70,...,267,7.0,38,1.0,133,3.5,25,17,48,3
2,9,Premier League,2000-2001,2,Liverpool,38,20,9,9,69,...,228,6.0,39,1.0,165,4.3,32,14,53,4
3,9,Premier League,2000-2001,3,Leeds United,38,20,8,10,68,...,229,6.0,43,1.1,162,4.3,21,11,72,3
4,9,Premier League,2000-2001,4,Ipswich Town,38,20,6,12,66,...,205,5.4,42,1.1,157,4.1,15,13,32,2

In [10]:
data_to_insert = [
    (
        row['league_id'], row['league_name'], row['season'], row['id'], row['name'],
        row['matches_played'], row['wins'], row['draws'], row['losses'], row['season_points'],
        row['goals_scored'], row['goals_scored/90'], row['shots_on_target'], row['shots_on_target/90'],
        row['goals_against'], row['goals_against/90'], row['shots_against'], row['shots_against/90'],
        row['goal_diff'], row['clean_sheets'], row['yellow_cards'], row['red_cards']
    )
    for idx, row in df.iterrows()
]

In [11]:
insert_query = '''
    INSERT INTO team_stats (league_id, league_name, season, id, name,
    matches_played, wins, draws, losses, season_points,
    goals_scored, goals_scored_per_90, shots_on_target, shots_on_target_per_90,
    goals_against, goals_against_per_90, shots_against, shots_against_per_90,
    goal_diff, clean_sheets, yellow_cards, red_cards)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
'''

In [12]:
cursor, connection = Create_Connection()
cursor.executemany(insert_query, data_to_insert)
connection.commit()