<a href="https://colab.research.google.com/github/PepiMartin28/ETL-Project/blob/main/TableCreation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#This is a notebook where we create the table in the database

In [ ]:
# pip install mysql-connector-python

In [ ]:
import mysql.connector

In [ ]:
conexion = mysql.connector.connect(
    host='us-cdbr-east-06.cleardb.net',
    user='b59176a577f953',
    password='1ecab0e5',
    database='heroku_0112fbf8f733ea4'
)

In [ ]:
cursor = conexion.cursor()

In [ ]:
cursor.execute('''
  CREATE TABLE IF NOT EXISTS team_stats (
    league_id INTEGER,
    league_name VARCHAR(100),
    season VARCHAR(50),
    id INTEGER,
    name VARCHAR(100),
    matches_played INTEGER,
    wins INTEGER,
    draws INTEGER,
    losses INTEGER,
    season_points INTEGER,
    goals_scored INTEGER,
    goals_scored_per_90 FLOAT,
    shots_on_target INTEGER,
    shots_on_target_per_90 FLOAT,
    goals_against INTEGER,
    goals_against_per_90 FLOAT,
    shots_against INTEGER,
    shots_against_per_90 FLOAT,
    goal_diff INTEGER,
    clean_sheets INTEGER,
    yellow_cards INTEGER,
    red_cards INTEGER
  )
''')